@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body 
{
    overflow-x: hidden;
    background: #111;
    min-width: 100vh;
}
#header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
#header .logo
{
    color: #108ec0;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    text-shadow: 0 0 40px #108ec0;
    margin-left: 20px;
}
#header .logos
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#header img
{
    border-radius: 50px;
}
#header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header ul li
{
    list-style: none;
    margin-left: 20px;
    margin-bottom: 10px;
}
#header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #108ec0;
    border-radius: 20px;
    font-weight: 500;
}
#header ul li a:hover,
#header ul li a.active
{
    background: #108ec0;
    color: #fff;
    box-shadow: 0 0 30px #108ec0;
}

#cra2
{
    position: relative;
    width: 100%;
    height: 15vh;
    background: #111;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#cra2 .row
{
    position: relative;
    top: -360%;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 64px;
    transform: rotate(-30deg);
}
#gamer
{
    color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    padding: 0 5px;
    user-select: none;
    cursor: default;
}
#gamer:hover
{
    transition: 0s;
    color: #0f0;
    text-shadow: 0 0 120px #0f0;
}
#cra2 .row div
{
    animation: animate1 80s linear infinite;
    animation-delay: -80s;
}

#cra2 .row div:nth-child(2)
{
    animation: animate2 80s linear infinite;
    animation-delay: -40s;   
}
@keyframes animate1
{
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}
@keyframes animate2
{
    0%
    {
        transform: translateX(0%);
    }
    100%
    {
        transform: translateX(-200%);
    }
}



#cra2 .row:nth-child(even) div
{
    animation: animate3 80s linear infinite;
    animation-delay: -80s;
}

#cra .row:nth-child(even) div:nth-child(2)
{
    animation: animate4 80s linear infinite;
    animation-delay: -40s;   
}
@keyframes animate3
{
    0%
    {
        transform: translateX(-100%);
    }
    100%
    {
        transform: translateX(100%);
    }
}
@keyframes animate4
{
    0%
    {
        transform: translateX(-200%);
    }
    100%
    {
        transform: translateX(0%);
    }
}

.sec
{
    position: relative;
    display: flex;
    background-color: #272727;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.sec2
{
    background-color: #272727;
    padding: 10px;
}

.sec2 hr
{
    width: 800px;
    margin-left: 50px;
    margin-top: 70px;
}

.sec2 h1
{
    font-size: 60px;
    font-weight: bold;
    color: -webkit-linear-gradient(to right#FF0018, #FFA52C, #FFFF41, #008018, #0000F9, #86007D);
    padding-left: 90px;
    padding-top: 20px;
}

.sec2 h1 .c1
{
    color: #FF0018;
}
.sec2 h1 .c2
{
    color: #FFA52C;
}
.sec2 h1 .c3
{
    color: #FFFF41;
}
.sec2 h1 .c4
{
    color: #008018;
}
.sec2 h1 .c5
{
    color: #0000F9;
}
.sec2 h1 .c6
{
    color: #86007D;
}

.sec2 p
{
    font-size: 18px;
    color: #fff;
    padding-left: 90px;
    padding-right: 80px;
    text-align: justify;
}
.sec2 img{
    border-radius: 20px;
    margin-right: 16px;
    margin-bottom: 16px;
    transition: .6s;
}

::-webkit-scrollbar {
    width: 4px; /* Ancho de la scrollbar */
}
  
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0); /* Fondo transparente de la scrollbar */
}
  
::-webkit-scrollbar-thumb {
    background-color: #334a74; /* Color transparente de la scrollbar */
    border-radius: 100px;
}

.sec2 img:hover
{
    box-shadow: #334a74 20px 20px 6px;
}

.sec2 .sec2img
{
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 0px;
    margin-left: 70px;
}

.sec2 .sec2img .chiquita
{
    height: 482px;
    width: 385px;
}

.discord
{
    color: #8cd6f3;
}
#header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
#footer
{
    background: #313131;
    justify-content: center;
}
#footer .logo
{
    color: #313131;
    font-weight: 700;
    font-size: 1em;
    text-decoration: none;
    margin-left: 20px;
}
#footer ul
{
    display: flex;
    justify-content: center;
    text-align: center;
}
#footer ul li{
    position: relative;
    display: block;
    color: #666;
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: #171515;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: .5s;
}
#footer ul li:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    border-radius: 50%;
    transform: scale(.9);
    z-index: -1;
    transition: .5s;
}
#footer ul li:nth-child(1):before{
    background: #1DA1F2;
}
#footer ul li:nth-child(2):before{
    background: #E1306C;
}
#footer ul li:nth-child(3):before{
    background: #9006b9;
}
#footer ul li:nth-child(4):before{
    background: #17aaff;
}
#footer ul li:nth-child(5):before{
    background: #ff000f;
}
#footer ul li:nth-child(6):before{
    background: #080078;
}
#footer ul li:hover:before{
    filter: blur(3px);
    transform: scale(1.2);
    /* box-shadow: 0 0 15px #d35400; */
}
#footer ul li:nth-child(1):hover:before{
    box-shadow: 0 0 15px #fff;
}
#footer ul li:nth-child(2):hover:before{
    box-shadow: 0 0 15px #E1306C;
}
#footer ul li:nth-child(3):hover:before{
    box-shadow: 0 0 15px #9006b9;
}
#footer ul li:nth-child(4):hover:before{
    box-shadow: 0 0 15px #17aaff;
}
#footer ul li:nth-child(5):hover:before{
    box-shadow: 0 0 15px #ff000f;
}
#footer ul li:nth-child(6):hover:before{
    box-shadow: 0 0 15px #080078;
}
#footer ul li:nth-child(1):hover{
    color: #fff;
    box-shadow: 0 0 15px #fff;
    text-shadow: 0 0 15px #fff;
}
#footer ul li:nth-child(2):hover{
    color: #e23670;
    box-shadow: 0 0 15px #E1306C;
    text-shadow: 0 0 15px #E1306C;
}
#footer ul li:nth-child(3):hover{
    color: #9006b9;
    box-shadow: 0 0 15px #9006b9;
    text-shadow: 0 0 15px #9006b9;
}
#footer ul li:nth-child(4):hover{
    color: #17aaff;
    box-shadow: 0 0 15px #17aaff;
    text-shadow: 0 0 15px #17aaff;
}
#footer ul li:nth-child(5):hover{
    color: #ff000f;
    box-shadow: 0 0 15px #ff000f;
    text-shadow: 0 0 15px #ff000f;
}
#footer ul li:nth-child(6):hover{
    color: #14df35;
    box-shadow: 0 0 15px #080078;
    text-shadow: 0 0 15px #080078;
}
.wrapper{
    width: 100%;
}
.carousel{
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}
.carousel .card{
    color: #fff;
    text-align: center;
    margin: 20px 0;
    line-height: 250px;
    font-size: 90px;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}
.owl-dots{
    text-align: center;
    margin-top: 40px;
}
.owl-dot{
    height: 15px;
    width: 45px;
    margin: 0 5px;
    outline: none;
    border-radius: 14px;
    border: 2px solid #0072bc!important;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    margin-bottom: 40px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #0072bc!important;
}
#footer2
{
    background: #000000;
    align-items: center;
    justify-content: center;
    color: #fff;
}
#footer2 h2
{
    justify-content: center;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    padding: 15px 100px;
}
#footer .yt
{
    color: #666;
}

.chat
{
    margin-left: 5px;
}
